@model Sell_Your_Books.Models.BookInfo

@{
    ViewBag.Title = "BookDetails";
}

<h2>BookDetails</h2>

<div>
    <h4>BookInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="~/Content/@Model.img" alt="Book`s Image" height="100%" width="100%" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>
</div>
<p>
    @Html.ActionLink("Delete", "BookDelete", new { id = Model.BookId }) |
    @Html.ActionLink("Back to List", "BookList")
</p>
