@model IEnumerable<Sell_Your_Books.Models.BookInfo>

@{
    ViewBag.Title = "My Books";
}
    <center>
        <h1>Welcome, @ViewBag.user</h1>
    </center>

<h2>Your Books</h2>
<p class="card-text">
    <a href="~/BookInfoes/Create" class="btn btn-primary"> Add Book </a>
</p>

@if (Model.Count() == 0)
{
    <h2> No Books Are Uploaded By @ViewBag.user </h2>
}
@if (Model.Count() != 0)
{
    <br />
    <div class="container">
        @foreach (var item in Model)
        {
            
                <div class="col-sm-4" style="padding:10px;">
                    <div class="card" style="min-height:910px;">
                        <img src="~/Content/@item.img" alt="Book Image" height="670px" width="100%">
                        <div class="container">
                            <h2 class="card-title" style="max-width:33%">
                                @Html.DisplayFor(modelItem => item.Title)
                            </h2>
                            <h4 class="card-text">
                                @Html.DisplayNameFor(model => model.Author) :
                                @Html.DisplayFor(modelItem => item.Author)
                            </h4>
                            <h4 class="card-text">
                                @Html.DisplayNameFor(model => model.Price) :
                                @Html.DisplayFor(modelItem => item.Price)
                            </h4>
                            <p class="card-text">
                                <a href="~/BookInfoes/Details/@item.BookId" class="btn btn-primary btn-lg">More Info &raquo; </a>
                            </p>
                        </div>
                    </div>
                </div>
            
        }
    </div>
}